
body {
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* set header to flex, justified space & set colors*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkolivegreen;
    color: white;
}

header h1 {
    display: flex;
    font-size: 48px;
}
/* set header & font */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}
/* removed bullets*/
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* color changes on hover of list items */
  li a:hover {
    background-color: darkgray;
  }
  main {
    display: flex-center;
    flex: 1 1 0;
    margin: 2% auto;
  }
  
  section {
    flex: 1 1 0;
    padding-right: 5%;
  }
  
  article {
    border-bottom: 1px solid black;
  }
  /* removed bullets & set display of contact me list*/
  .contactme_ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }

footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
  
}